/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: fraktur, Century Gothic, Calibri, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/* Estilos para el header */
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style: none;
    background: #333;
    text-align: center;
    
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
   
}
nav ul li a:hover {
    background-color: rgb(255, 255, 255, 0.05);
    transform: scale(1.05);
}
#seleccion{
    background-color: rgba(255, 255, 255, 0.226);

}

/* Estilos para el main */
main {
    padding: 20px;
}

main h2 {
    margin-top: 20px;
}

/* Estilos para el footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
}

footer p {
    margin-top: 20px;
}

.hidden-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
img {
    width: auto; 
    max-height: 200px;
    border-radius: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#instagram:hover{
    transform: scale(0.9); /* Reducir tamaño al 90% */
    opacity: 0.7; /* Bajar opacidad al 70% */
}
